# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv/

# Base de datos (opcional, no subir)
*.db
*.db-shm
*.db-wal

# Variables de entorno (NUNCA subir)
.env

# Node (residuo)
node_modules/

# Sistema
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/