# Configuración de Entorno - EduPapel Backend
FLASK_ENV=development
FLASK_PORT=5000
FLASK_DEBUG=True

# Llave secreta para sesiones y firmas criptográficas (Semana 8: No hardcoding)
SECRET_KEY=cambiar_esta_clave_secreta_en_produccion_edupapel_2026

# Nombre del archivo SQLite
DATABASE_NAME=libreria_escolar.db

